@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-2{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.home-3{
  font-family: "lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
}






